body {
	font-family: "Roboto", sans-serif;
	font-size: 2em;
	background-color: rgb(249, 249, 249);
	margin: 0;
}
h1{
	text-align: center;
	margin: 0;
}
h3{
	margin: 0;
}
p {
	font-size: 13px;
	line-height: 10px;
}
span {
	background-color: #FFF;
    width: 250px;
	height: 250px;
	display:block;
    text-align: center;
    align-items: center;
    margin: 2em auto;
	padding: 0;
	box-shadow: 1px 1px 10px rgb(230, 230, 230);
}
input {
	text-decoration: none;
	border-style: none;
	outline: none;
	padding: 1em;
	width: 25%;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}
input:focus {
    background: rgb(230, 230, 230);
    box-shadow: none;
    border: 1px solid rgb(0 0 0);
}
button {
	text-decoration: none;
	border-style: none;
	padding: 1em;
	width: 18%;
	background-color: rgb(255, 255, 255);
	box-shadow: none;
	cursor: pointer;
	border-radius: 5px;
}
button:hover{
	color: white;
	background-color: black;
	transition: ease-in-out 120ms;
	
}
p {
	margin: 10px;
	text-align: left;
	display: inline;
	text-decoration: underline;
}
main {
	background-color: rgb(106, 125, 204);
	padding: 0;
}
.padded-header {
	padding: 5%;
}
.controls {
	text-align: center;
 	display: block;
 	width: 100%;
	margin: 0 auto;
	background: lightgray; 
	padding: 1.6%;
}
.clocksContainer {
	width: 100%;
	display: block;
	margin: auto;
}
.toggle-area {
	background: rgb(234, 234, 234);
	border: 2px solid rgb(244, 244, 244);
	margin: 0 auto;
	margin-top: .3%;
	border-radius: 3px;
	cursor: pointer;
	align-content: space-between;
	width: 15%;
	position: relative;
}
.toggle-area-nest-primary {
	border-bottom: 1px solid rgb(244, 244, 244);
	background: grey;
}