body {
	font-family: "Roboto", sans-serif;
	font-size: 3em;
	width: 100%;
	background-color: rgb(249, 249, 249);
	margin: 0;
}
h1{
	text-align: center;
	font-weight: 200;
	margin: 0;
	color: white;
	text-shadow: 1px 1px 1px rgb(233, 233, 233);
	letter-spacing: 5px;
}
h3{
	margin: 0;
}
p {
	font-size: 13px;
	line-height: 10px;
}
#countupClock {
	background-color: #FFF;
    width: 250px;
	height: 250px;
	display:block;
    text-align: center;
    align-items: center;
    margin: 2em auto;
	padding: 0;
	box-shadow: 1px 1px 10px rgb(230, 230, 230);
}
input {
    text-decoration: none;
    border-style: none;
    outline: none;
    padding: 1em;
	box-sizing: border-box;
    position: relative;
    width: 100%;
    border: rgb(106, 125, 204) 1px solid;
    border-radius: 5px;
    cursor: pointer;
}
input:focus {
    background: rgb(230, 230, 230);
    border: rgb(82, 97, 159) 1px solid;;
}
button {
    text-decoration: none;
	text-align: center;
    border-style: none;
    padding: 1em;
    width: auto;
    position: relative;
    right: auto;
    background-color: rgb(252 254 255);
    cursor: pointer;
    border-radius: 5px;
    border-bottom: 1px solid grey;
    height: auto;
	margin-top: 15px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
button:hover{
	color: white;
	background-color: rgb(106, 125, 204);
	transition: ease-in-out 120ms;	
}
p {
	margin: 10px;
	text-align: left;
	width: 100%;
	display: inline;
}
main {
	background-color: rgb(106, 125, 204);
	padding: 0;
}
.seperator {
	width: 1px;
	background: black;
	height: 25px;
}
.padded-header {
	padding: 5%;
}
.clocksContainer {
	width: 100%;
	display: block;
	margin: auto;
}
.controls {
    text-align: center;
    display: grid;
	grid-template-columns: repeat(2, 1fr);
    width: auto;
    margin: 0 auto;
    background: lightgray;
    padding: 1em;
}
.left-controls, .right-controls{
	cursor: pointer;
}
.left-controls {
	justify-self: stretch;
	background: none;
	margin: .5em;
	border: none;
	border-radius: 2px;
}
.right-controls {
	justify-self: center;
	width: auto;
}
.toggle-area {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 2fr);	
}
#countdown, #countup {
	display: block;
	border: .5px solid rgb(211, 211, 211);
	box-shadow: 1px 3px 1px .2px grey;
	background: white;
	color: black;
	padding: .5em;
	border-radius: 5px;
	font-size: 20px;
	text-align: center;
	margin-top: .8em;
	margin-right: .7em	
}
#countdown:hover, #countup:hover{
	border: .5px solid rgb(211, 211, 211);
	background: rgb(244, 244, 244);
	color: rgb(0, 0, 0);
	border-radius: 5px;
}
#countdown:focus, #countup:focus {
	background: grey;
	color: white;
}